{{ define "main" }}
    <main class="wrapper">
        <div class="notes">
            <h1>{{ .Page.Title }}</h1>
            {{ range .Site.RegularPages.GroupByParam "category"}}
                <div class="category">
                    <h2>{{ .Key }}</h2>
                    {{ range .GroupByParam "subcategory"}}
                        <div class="subcategory">
                            <h3>{{ .Key }}</h3>
                            <ul>
                            {{ range .Pages }}
                                <li>
                                    <span>
                                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    </span>
                                </li>
                            {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </main>
{{ end }}