<nav class="wrapper">
    <div class="nav-container">
        <div class="home">
            <a href="{{ "/" | relURL }}">
                <h1 class="nav-title">{{ .Site.Title }}</h1>
            </a>
        </div>
        <div class="menu">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}" {{ if eq .Name "Code" }}target="_blank"{{ end }}>
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>