<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {{- $inServerMode	:= .Site.IsServer }}
    {{- $cssTarget		:= "css/style.css" }}
    {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
    {{- $style			:= resources.Get "scss/cartographer.scss" | toCSS $cssOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>