body{
    margin: 0;
    padding: 0;
    border: 0;
    color: $black-2;
}

a {
    text-decoration: none;
    color: $black-2;
}

a:visited {
    color: $black;
}

a:hover {
    color: $grey-3c;
}

.wrapper {
    margin: 0 auto;
    max-width: 1024px;
}

#home {
    height: calc(100vh - 166px);
}