body {
  margin: 0;
  padding: 0;
  border: 0;
  color: $black-2;
}

a {
  text-decoration: none;
  color: $blue;
}

a:visited {
  color: $blue;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  @media (max-width: $breakpoint-md) {
    margin: 0 20px;
  }
}

.intro {
  margin: 40px 0 300px 0;
}

blockquote {
  color: $grey-9;
  border-left: 2px solid $grey-3c;
  padding-left: 10px;
}
