nav {
  border-bottom: 2px solid $black;
  max-height: none;
  a {
    text-decoration: none;
    color: $black-2;
  }

  a:visited {
    color: $black;
  }

  a:hover {
    color: $grey-3c;
  }
  .nav-container {
    width: 100%;
    .menu {
      float: right;
      margin: 10px 0;
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          padding: 0 10px;
        }
      }
    }

    .home {
      display: inline-block;
    }
  }
}
