.notes {
  .category {
    h2 {
      border-bottom: 1px solid $black;
      padding: 10px;
    }
    .subcategory {
      border: 1px solid $black;
      margin-bottom: 20px;
      a {
        font-family: $serif;
      }
      h3 {
        margin-top: 0;
        border-bottom: 1px solid $black;
        padding: 10px;
      }
    }
  }
}
