.post-group {
  margin-top: 20px;
  .post-row {
    .post-title {
      a {
        text-decoration: none;
        color: $black-2;
      }

      a:visited {
        color: $black;
      }

      a:hover {
        color: $grey-3c;
        text-decoration: underline;
      }
      width: 100%;
      margin-bottom: 0;
      display: block;
      font-weight: bold;
      font-size: 22px;
      font-family: sans-serif;
    }
    .post-date {
      text-transform: uppercase;
      font-family: $sans-serif;
      color: $grey-9;
      font-weight: bold;
      margin: 5px 0;
      font-size: 14px;
      line-height: 1.5em;
    }
  }
  .post-description {
    margin-top: 0;
    margin-bottom: 35px;
    width: 100%;
  }
}
.post-group:last-child {
  padding-bottom: 80px;
}
