// Colors
$grey-e6: #e6e6e6;
$grey-26: #262626;
$grey-3c: #3c3c3c;
$grey-9: #999;
$white: #fff;
$black: #000;
$tan: #f8efe7;
$orange: #f7ad6c;
$black-2: #222;
$blue: #008fd5;

// Fonts
$serif: "Source Serif Pro", serif;
$sans-serif: "Public Sans Web", sans-serif;
$mono: "Space Mono";
