// Colors
$grey-e6: #E6E6E6;
$grey-26: #262626;
$grey-3c: #3c3c3c;
$white: #fff;
$black: #000;
$tan: #f8efe7;
$orange: #f7ad6c;

// Fonts

$serif: 'Source Serif Pro', serif;
$sans-serif: 'Public Sans Web', sans-serif;